interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://brasilapi.com.br/api/cep/v1/88304053
  response:
    body:
      string: '{"cep":"88304-053","state":"SC","city":"Itajaí","district":"Centro","street":"Rua Alberto Werner","service":"brasilapi"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brasilapi.com.br/api/cep/v1/88304053
  response:
    body:
      string: '{"cep":"88304-053","state":"SC","city":"Itajaí","district":"Centro","street":"Rua Alberto Werner","service":"brasilapi"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
