interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=utf-8
    method: GET
    uri: https://brasilapi.com.br/api/cep/v1/88304053
  response:
    body:
      string: "{\"cep\":\"88304053\",\"state\":\"SC\",\"city\":\"Itaja\xED\",\"neighborhood\":\"Centro\",\"street\":\"Rua
        Alberto Werner\",\"service\":\"open-cep\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3wqlhp3bhx3e"
      x-matched-path:
      - /api/cep/v1/[cep]
      x-vercel-cache:
      - HIT
      x-vercel-id:
      - gru1::sfo1::j6rpv-1763095475047-47bc93c13989
    status:
      code: 200
      message: OK
version: 1
