interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://open.cnpja.com/office/15280995000169
  response:
    body:
      string: '{"updated":"2025-11-08T00:00:00.000Z","taxId":"15280995000169","alias":null,"founded":"2012-03-28","head":true,"company":{"members":[{"since":"2018-10-09","person":{"id":"066797fb-698f-47c0-854c-fb5f960bfe63","type":"NATURAL","name":"Rodrigo Antonio Dias Corazza","taxId":"***613638**","age":"51-60"},"role":{"id":49,"text":"Sócio-Administrador"}},{"since":"2018-08-20","person":{"id":"0ba3d9c5-2c51-45c2-b341-928595db67e7","type":"NATURAL","name":"Raphael Filipe Schubert","taxId":"***703749**","age":"31-40"},"role":{"id":49,"text":"Sócio-Administrador"}}],"id":15280995,"name":"DIGITALBANKS TECNOLOGIA LTDA","equity":500000,"nature":{"id":2062,"text":"Sociedade Empresária Limitada"},"size":{"id":3,"acronym":"EPP","text":"Empresa de Pequeno Porte"},"simples":{"optant":false,"since":null},"simei":{"optant":false,"since":null}},"statusDate":"2021-03-18","status":{"id":4,"text":"Inapta"},"reason":{"id":63,"text":"Omissão De Declarações"},"address":{"municipality":4208203,"street":"Rua Manoel Vieira Garcao","number":"10","district":"Centro","city":"Itajaí","state":"SC","details":"Sala 302;box 54","zip":"88301425","country":{"id":76,"name":"Brasil"}},"mainActivity":{"id":8599603,"text":"Treinamento em informática"},"phones":[{"type":"MOBILE","area":"47","number":"92895854"}],"emails":[],"sideActivities":[{"id":4751201,"text":"Comércio varejista especializado de equipamentos e suprimentos de informática"}],"suframa":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
