interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://open.cnpja.com/office/07526557011659
  response:
    body:
      string: '{"updated":"2025-11-13T12:42:07.000Z","taxId":"07526557011659","alias":"Filial Manaus","founded":"2023-07-31","head":false,"company":{"members":[{"since":"2022-12-26","person":{"id":"04c3a1f8-359f-429d-9240-dad8c46451d9","type":"NATURAL","name":"Felipe Moreira Haddad Baruque","taxId":"***787888**","age":"41-50"},"role":{"id":10,"text":"Diretor"}},{"since":"2025-03-06","person":{"id":"0535bf1c-fb1e-4269-9b34-d44d46825f8a","type":"NATURAL","name":"Carlos Eduardo Klutzenschell Lisboa","taxId":"***514864**","age":"51-60"},"role":{"id":10,"text":"Diretor"}},{"since":"2022-02-15","person":{"id":"0563028c-26ce-4098-baeb-65e9781e2014","type":"NATURAL","name":"Valdecir Duarte","taxId":"***748919**","age":"41-50"},"role":{"id":10,"text":"Diretor"}},{"since":"2017-12-08","person":{"id":"298afc92-361e-487d-9048-d3a329bb007f","type":"NATU[...]
