interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://viacep.com.br/ws/88304053/json/
  response:
    body:
      string: "{\n  \"cep\": \"88304-053\",\n  \"logradouro\": \"Rua Alberto Werner\",\n
        \ \"complemento\": \"at\xE9 445 - lado \xEDmpar\",\n  \"unidade\": \"\",\n
        \ \"bairro\": \"Centro\",\n  \"localidade\": \"Itaja\xED\",\n  \"uf\": \"SC\",\n
        \ \"estado\": \"Santa Catarina\",\n  \"regiao\": \"Sul\",\n  \"ibge\": \"4208203\",\n
        \ \"gia\": \"\",\n  \"ddd\": \"47\",\n  \"siafi\": \"8161\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
