interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdn.apicep.com/file/apicep/88304-053.json
  response:
    body:
      string: "{\"code\":\"88304-053\",\"state\":\"SC\",\"city\":\"Itaja\xED\",\"district\":\"Centro\",\"address\":\"Rua Alberto Werner - at\xE9 445 - lado \xEDmpar\",\"status\":200,\"ok\":true,\"statusText\":\"ok\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cdn.apicep.com/file/apicep/88304-053.json
  response:
    body:
      string: "{\"code\":\"88304-053\",\"state\":\"SC\",\"city\":\"Itaja\xED\",\"district\":\"Centro\",\"address\":\"Rua Alberto Werner - at\xE9 445 - lado \xEDmpar\",\"status\":200,\"ok\":true,\"statusText\":\"ok\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
