interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdn.apicep.com/file/apicep/88304-053.json
  response:
    body:
      string: "{\"code\":\"88304-053\",\"state\":\"SC\",\"city\":\"Itaja\xED\",\"district\":\"Centro\",\"address\":\"Rua
        Alberto Werner - at\xE9 445 - lado \xEDmpar\",\"status\":200,\"ok\":true,\"statusText\":\"ok\"}"
    headers:
      Content-Type:
      - application/json
      X-Bz-Upload-Timestamp:
      - '1662711746278'
      x-bz-content-sha1:
      - unverified:20449b2ebcc6f2e75a43b792d65945222bb08463
      x-bz-file-id:
      - 4_zf3c81cebd907f7e689250c1f_f106a64b48ca2a606_d20220909_m082226_c004_v0402004_t0028_u01662711746278
      x-bz-file-name:
      - 88304-053.json
      x-bz-info-s3cmd-attrs:
      - atime:1662707789/ctime:1662707789/gid:1000/gname:rafas/mode:33188/mtime:1662707789/uid:1000/uname:rafas
    status:
      code: 200
      message: OK
version: 1
